[package]
name = "rust_black_jack"
version = "0.1.0"
authors = ["jasontsorlinis"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mimalloc = "0.1.41"

[profile.release]
lto = "fat"
codegen-units=1
panic = "abort"
